$font: 'Open Sans', sans-serif, 'Arial';
$font-logo: 'Exo 2', sans-serif;
$font-size: 16px;
$desktop-width: 1280px;
$card-width: 100%;
$min-width: 265px;

@mixin desktop {
	@media (min-width: $desktop-width) {
		@content;
	}
}

.link-see-more {
	text-decoration: none;
	text-transform: uppercase;
	color: #e6162d;
	letter-spacing: 1.3px;
	font-size: 1rem;
	text-align: left;
}

.product-title {
	font-size: 1rem;
	color: #414150;
	line-height: normal;
	@include desktop {
		font-size: 1.8rem;
	}
}
